
body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    line-height: 1.5;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

h1, h2, h3, p { 
    margin: 0;
}

ul {
    padding-left: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

.contacts,
.link,
address {
    font-style: normal;
}


h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

h1, h2 {
    text-align: center;
}

h2, h3 {
    color: #2E2F42;
}

.first-section {
    font-weight: 700;
    color: #FFFFFF;
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    border: none;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    text-align: center;
}



.button:hover,
.button:focus {
    background-color: #404BBF;
}

button {
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: #434455;
    font-style: normal;
}

ul {
    list-style-type: none;
}

.team {
    background-color: #F4F4FD;
}

.team li {
    background-color: #FFFFFF;
}

.team h3,
.team p {
    text-align: center;
}

.footer {
    font-weight: 400;
    color: #F4F4FD;
    background-color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2E2F42;
}

.footer .logo {
    color: #F4F4FD
}

.accent {
    color: #4D5AE5;
}

.page-nav .link {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts .link {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.page-nav .link:hover,
.page-nav .link:active,
.page-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
    color: #404BBF;
    }

    .portfolio p,
    .team p,
    .features p {
       font-size: inherit; 
       line-height: inherit;
       font-weight: 400;
       letter-spacing: 0.02em;
    }

    .portfolio h3,
    .team h3,
    .features h3 {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.02em;
        line-height: 1.2;
    }

    .header {
        border-bottom: 1px solid #E7E9FC;
    }

    .header .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    nav {
        margin-right: auto;
        align-items: center;
    }

    .page-nav,
    .contacts ul {
        display: flex;
        gap: 40px;
    }

    .page-nav .link,
    .contacts .link {
        display: block;
        padding: 24px 0;
    }

    .header .logo {
        display: flex;
        align-items: center;
        margin-left: 15px;
        margin-right: 76px;
    }

    .first-section .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }   

    .first-section h1 {
        max-width: 496px;
    }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.second-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.second-section .container .features {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.second-section .container .features li {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex: 1;
    max-width: 264px;
    min-width: 0;
}

.second-section .container .features li h3 {
    padding-bottom: 8px;
}

.team {
    padding-top: 120px;
    padding-bottom: 120px;
}

.team h2 {
    text-align: center;
}

.team .container .team-members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 72px;
}

.team .container .team-members li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 264px;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.team .container .team-members li .team-content {
    padding: 32px 16px;
}

.team .container .team-members li h3 {
    margin-bottom: 8px;
}

.team .container .team-members li p {
    margin: 0;
}

.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-section h2 {
    text-align: center;
}

.portfolio-section .container .portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding-top: 72px;
}

.portfolio-section .container .portfolio li {
    display: flex;
    flex-direction: column;
    width: 360px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.portfolio-section .container .portfolio li .portfolio-content {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.portfolio-section .container .portfolio li h3 {
    margin-bottom: 8px;
}

.portfolio-section .container .portfolio li p {
    margin: 0;
}

footer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer .container {
    margin: 0 auto;
}

.footer p {
    text-align: left;
    width: 264px;
    margin-top: 16px;
}
